<div id="outer">
    <div id="inner">
        <div id="header">
        <table width="100%"><tr>
            <td>
                 <span class="pageTitle">FluFender</span>
                 <br/>
                 <span class="pageSubTitle">Influenza Tracker</span>
            </td><td align="right">
            <img src="/assets/Arcadia_2c.png" height="70px">
            </td>
        </tr></table>
        </div>

        <div id="tabs">
          <ul>
            <li><span class="menuTitle"><a href="#tabs-1">Map</a></span></li>
            <li><span class="menuTitle"><a href="#tabs-2">Additional Graphs</a></span></li>
            <li><span class="menuTitle"><a href="#tabs-3">Other Resources</a></span></li>
          </ul>
          <div id="tabs-1">
            <div id="controls">
                <div id="panel">
                  <span class="menuTitle">Timeframe</span>
                  <br>
                  <input id="startDate" class="startDate" type="textbox" value="12/01/2012" autofocus="true">
                  <br>
                  <input id="endDate" class="endDate" type="textbox" value="12/10/2012" autofocus="true">
                  <br>
                  <div class="dropdown">
                    <a class="menuTitle dropdown-toggle" data-toggle="dropdown">Visual Toggles<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><span id="toggleHeatMap">Toggle Heatmap</span></a>
                      <li><a href="#"><span id="toggleCounties">Toggle Counties</span></a>
                      <li><a href="#"><span id="changeGradient">Change Gradient</span> </a>
                      <li><a href="#"><span id="changeRadius">Change Radius</span> </a>
                      <li><a href="#"><span id="contrastMapStyle">Contrast Map</span> </a>
                      <li><a href="#"><span id="normalMapStyle">Normal Map</span> </a>
                    </ul>
                  </div>
                  <div id="data-types">
                  <span class="menuTitle">Data Types</span>
                  <ul>
                  <li><input type="radio" name="group1" value="prescriptions" checked ="checked">Antiviral Prescriptions</input></li>
                  <li><input type="radio" name="group1" value="predicted">Predicted Severe Cases</input></li>
                  <li><input type="radio" name="group1" value="userentered">User-entered Flu Vac</input></li>
                  </ul>
                  </div>
                  <div id="address-lookup">
                  <span class="menuTitle">Address Lookup</span>
                  <br/>
                    <input id="address" class="address" type="textbox" value="Portland, OR" autofocus="true">
                  <br/>
                  </div>
                  <input id="update-button" class="datafetcher" type="button" value="Update Graphs" />
                  <br/>
                  <br/>
                  <input id="submitDataButton" type="button" value="+ Submit Your Own Data!">
                </div>
              </div>
            <div id="main-graph-container">
            <div id="map-canvas" style="width:850px; height:350px"></div>
            <div id="controls2">
              <div id="panel2">
                <div id="graph-container1" style="width:870px; height:130px"></div>
              </div>
            </div>
            </div>
          </div>
          <div id="tabs-2">
            <div id="controls">
                <div id="panel">
                  <span class="menuTitle">Timeframe</span>
                  <br>
                  <input id="startDate2" class="startDate" type="textbox" value="11/01/2013" autofocus="true">
                  <br>
                  <input id="endDate2" class="endDate" type="textbox" value="12/25/2013" autofocus="true">
                  <br>
                  <div class="dropdown">
                    <a class="menuTitle dropdown-toggle" data-toggle="dropdown">Visual Toggles<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><span id="toggleArea">Toggle Filled Area Graph</span> </a>
                      <li><a href="#"><span id="toggleBar">Toggle Bar Graph</span> </a>
                      <li><a href="#"><span id="toggleLine">Toggle Line Graph</span></a>
                      <li><a href="#"><span id="togglePoint">Toggle Point Graph</span></a>
                    </ul>
                  </div>
                  <div id="data-types">
                  <span class="menuTitle">Data Types</span>
                  <ul>
                  <li><input type="radio" name="group2" value="prescriptions" checked ="checked">Antiviral Prescriptions</input></li>
                  <li><input type="radio" name="group2" value="predicted">Predicted Severe Cases</input></li>
                  <li><input type="radio" name="group2" value="userentered">User-entered Flu Vac</input></li>
                  </ul>
                  </div>
                  <div id="address-lookup">
                  <span class="menuTitle">Address Lookup</span>
                  <br/>
                    <input id="address2" class="address" type="textbox" value="Portland, OR" autofocus="true">
                  </div>
                  <input id="update-button" class="datafetcher" type="button" value="Update Graphs" />
                  <br/>
                  <br/>
                  <input id="submitDataButton" type="button" value="+ Submit Your Own Data!">
                </div>
              </div>
           <div id="graph-container2" style="width:820px; height:350px"></div>
          </div>
          <div id="tabs-3">
           <div id="other-resources">
              #<%= render :file => "/main/links.html" %>
           </div>
          </div>
        </div>
    </div>
</div>
<div id="dialog-form" title="Enter Info about your last flu shot">
  <p class="validateTips">All form fields are required.</p>
  <form>
  <fieldset>
    <span> I am a </span>
    <input type="radio" name="group3" value="male">Male</input>
    <input type="radio" name="group3" value="female">Female</input>
    <br>
    <label for="popup-age">Age</label>
    <br>
    <input type="text" name="popup-age" id="popup-age" />
    <br>
    <label for="popup-address">Address</label>
    <br>
    <input type="text" name="popup-address" id="popup-address" />
    <br>
    <label for="popup-date">Date</label>
    <br>
    <input type="text" name="popup-date" id="popup-date"/>
  </fieldset>
  </form>
</div>


