<html>
     <head>
          <title></title>
     </head>
     <body>
          <p>
               The FluView team recommends the following sources to obtain and contribute even more information to Flu surveillance across the United States</p>
          <ul>
               <li>
                    <a class="resourceLink" href="https://flunearyou.org/" target="_blank">Flu Near You</a></li>
               <li>
                    <a class="resourceLink" href="http://www.cdc.gov/flu/weekly/fluviewinteractive.htm" target="_blank">CDC Weekly Influenza Surveillance Report</a></li>
               <li>
                    <a class="resourceLink" href="http://www.google.org/flutrends/us/#US" target="_blank">Google Flu Trends</a></li>
          </ul>
          <p>
               The following resources have guidelines to help fight the spread of Flu</p>
          <ul>
               <li>
                    <a class="resourceLink" href="http://flushot.healthmap.org/" target="_blank">Vaccine Finder from HealthMap.org</a></li>
               <li>
                    <a class="resourceLink" href="http://www.cdc.gov/flu/protect/covercough.htm" target="_blank">Cover Your Cough</a></li>
               <li>
                    <a class="resourceLink" href="http://www.cdc.gov/flu/toolkit" target="_blank">Flu Prevention Toolkit: Real People. Real Solutions</a></li>
               <li>
                    <a class="resourceLink" href="http://www.cdc.gov/flu/protect/stopgerms.htm" target="_blank">Stopping the Spread of Germs at Home, Work &amp; School</a></li>
               <li>
                    <a class="resourceLink" href="http://www.ncoa.org/improve-health/community-education/flu--you/" target="_blank">National Council on Aging</a></li>
          </ul>
          <p>
               Other national level resources</p>
          <ul>
               <li>
                    <a class="resourceLink" href="http://www.flu.gov/" target="_blank">Flu.gov (U.S. Department of Health &amp; Human Services)</a></li>
               <li>
                    <a class="resourceLink" href="http://www.vaccines.gov/" target="_blank">Vaccines.gov</a></li>
          </ul>
     </body>
</html>
