<div id="outer">
    <div id="inner">
        <div id="header">
        <table width="100%"><tr>
            <td>
                 <br>
                 <span class="pageTitle">JourneyTracker</span>
            </td><td align="right">
            <img src="/assets/GNS_Logo.jpg" height="70px">
            </td>
        </tr></table>
        </div>

        <div id="tabs">
          <ul>
            <li><span class="menuTitle"><a href="#tabs-1">KT/V</a></span></li>
            <li><span class="menuTitle"><a href="#tabs-2">Missed Treatments </a></span></li>
            <li><span class="menuTitle"><a href="#tabs-3">TBD</a></span></li>
          </ul>
          <div id="tabs-1">
            <div id="controls">
                <div id="panel">
                  <span class="menuTitle">Timeframe</span>
                  <br>
                  <input id="startDate" class="startDate" type="textbox" value="10/01/2012" autofocus="true">
                  <br>
                  <input id="endDate" class="endDate" type="textbox" value="12/25/2013" autofocus="true">
                  <br>
                  <br>
                  <div id="prescriptions">
                  <span class="menuTitle">Zemplar Prescription</span>
                  <ul>
                  <li><input type="radio" name="zemplar1" value="yes">Zemplar Prescribed</input></li>
                  <li><input type="radio" name="zemplar1" value="no" checked ="checked">Zemplar Not Prescribed</input></li>
                  </ul>
                  </div>
                  <div id="data-types">
                  <span class="menuTitle">Data Types</span>
                  <ul>
                  <li><input type="radio" name="group1" value="no" checked ="checked">Actual</input></li>
                  <li><input type="radio" name="group1" value="yes">Predicted</input></li>
                  </ul>
                  </div>
                  <div id="patients">
                  <span class="menuTitle">Patient Selection</span>
                  <br>
                  <%= collection_select(:patient_id1, 0, Patient.all, :id, :full_name) %>
                  </div>
                  <input id="update-button1" class="datafetcher" type="button" value="Update Graph" />
                  <br/>
                  <br/>
                </div>
              </div>
           <div id="graph-container1" style="width:820px; height:350px"></div>
           <div id="controls2">
              <div id="panel2">
                <div id="slider-range" style="width:820px;"></div>
              </div>
            </div>
          </div>
          <div id="tabs-2">
            <div id="controls">
                <div id="panel">
                  <span class="menuTitle">Timeframe</span>
                  <br>
                  <input id="startDate2" class="startDate" type="textbox" value="10/01/2012" autofocus="true">
                  <br>
                  <input id="endDate2" class="endDate" type="textbox" value="12/25/2013" autofocus="true">
                  <br>
                  <br>
                  <div id="prescriptions">
                  <span class="menuTitle">Zemplar Prescription</span>
                  <ul>
                  <li><input type="radio" name="zemplar2" value="yes">Zemplar Prescribed</input></li>
                  <li><input type="radio" name="zemplar2" value="no" checked ="checked">Zemplar Not Prescribed</input></li>
                  </ul>
                  </div>
                  <div id="data-types">
                  <span class="menuTitle">Data Types</span>
                  <ul>
                  <li><input type="radio" name="group2" value="no" checked ="checked">Actual</input></li>
                  <li><input type="radio" name="group2" value="yes">Predicted</input></li>
                  </ul>
                  </div>
                  <div id="providers">
                  <span class="menuTitle">Provider Selection</span>
                  <br>
                  <%= collection_select(:provider_id2, 0, Provider.all, :id, :full_name) %>
                  </div>
                  <input id="update-button2" class="datafetcher" type="button" value="Update Graph" />
                  <br/>
                  <br/>
                </div>
              </div>
           <div id="graph-container2" style="width:820px; height:350px"></div>
          </div>
          <div id="tabs-3">
           <div id="other-resources">
              <%= render :file => "/base/links.html" %>
           </div>
          </div>
        </div>
    </div>
</div>

