 #graph-container1 {
 	float: right;
    width: 1100px;
    height: 300px;
     margin-top: 20px;
}

 #graph-container2 {
    width: 1100px;
    height: 300px;
     margin-top: 20px;
}

 #graph-container3 {
    width: 1100px;
    height: 300px;
     margin-top: 20px;
}
