@import 'bootstrap'

.resourceLink
  font-size: 15px

.resourceLink:hover
  font-weight: bold

.dropdown
  margin-top: 20px
  margin-bottom: 30px
  cursor: pointer

#submitDataButton
  height: 30px
  font-size: 16px

#address-lookup
  margin-top: 40px
  margin-bottom: 20px

#update-button
  margin-bottom: 80px
  height: 30px
  font-size: 18px

#data-types
  margin-top: 10px

#other-resources
  p
    font-size: 15px
    font-weight: bold

.gmnoprint img
  max-width: none

